
html{
    background-color:black;
}

a{
    text-decoration: none;
}

.MH{
    color:black;
    font-size: 2em;
    padding: 10px 0 0 20px;
    font-family: 'Press Start 2P', cursive;
}

img.Ghost{
    display: block;
    width : 30%;
    margin-top: 60px;
    animation : oscillator 1s linear 1s infinite alternate ;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

@keyframes oscillator {
    0%{
        margin-left: 0;
        margin-top: 60px;
    }
    100%{
        margin-left: 70%;
        margin-top: 60px;
    }
}

nav{
    text-align: right;
    padding: 10px 7px 10px 0;
}

nav a{
    color:black;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    padding-right: 15px;
    transition: color 0.5s ease, font-size 0.5s ease;
}

a:hover{
    color: white;
}

header{
    height: 10em ;
    border: 1px solid rgb(111, 248, 57) ;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgb(111, 248, 57);
}

h3{
    font-family: 'Press Start 2P', cursive;
    color:rgb(111, 243, 58);
    text-align: center;
    font-size: 40px;
}

h5{
    font-family: 'Press Start 2P', cursive;
    color:rgb(111, 243, 58);
    text-align: center;
    font-size: 25px;
}

.addi{
    border: 5px  rgb(111, 243, 58);
    border-style:dashed;
    border-radius: 7px;
    padding: 10px;
}

.addi:hover{
    animation: rando 2s linear infinite;
}

#fp{
    height: 500px;
    width: 100%;
}

li a{
    color : rgb(111, 243, 58);
    line-height: 1.5em;
    text-decoration: none;
    transition: color .5s ease , font-size .5s ease;
}

p.addidis{
    font-family: 'Press Start 2P', cursive;
    color:rgb(111, 243, 58);
    text-align: left;
    padding: 20px;
    line-height: 1.5em;
}

h4{
    font-family: 'Press Start 2P', cursive;
    color:rgb(111, 243, 58);
    font-size: 20px;
    padding-left: 20px;
}

hr.unl{
    border-top: 5px dashed rgb(111, 243, 58);
    width:95%;
    height: 2px;
    border-bottom: 0;
}

hr.sp{
    border: 1px solid black;
    width:95%;
}

#reflist{
    font-family: 'Press Start 2P', cursive;
    color:rgb(111, 243, 58);
}

li{
    padding: 5px;
}

footer{
    background-color:rgb(111, 243, 58);
    border:1px solid rgb(111, 243, 58);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
h6{
    font-family: 'Press Start 2P', cursive;
    color:black;
    text-align: center;
    padding-top:0;
    font-size:20px;
}

a.SM{
    text-decoration: none;
    color:black;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 0 20px 10px 20px;
    transition: color 0.5s, font-size 0.5s ;
}

.handles{
    text-align: center;
}

div.handles a:hover{
    color:seashell;
}


@media screen and (min-width:540px) {
    
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.box2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.box1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
}